<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">




<h:head><title>Buscar</title></h:head>


<h:body>

<h1>Buscar Docentes</h1>

<h:form>
<table border="1" align="center" style="border-collapse:collapse;">
<tr><th colspan="4" style="padding:10px;">BÚSQUEDA DE DOCENTES</th></tr>
<tr>
<td colspan="2">

<table>
<tr>
	<td colspan="2">
		<p:selectOneRadio id="customRadio" value="#{DocenteBean.opcionSeleccionada}" 
		layout="pageDirection">
			<f:selectItem itemLabel="Por ID" itemValue="ID" /> 
			<f:selectItem itemLabel="Por Aula" itemValue="AULA" />
			<f:selectItem itemLabel="Por Distrito" itemValue="DISTRITO" />
		</p:selectOneRadio>
	</td>
</tr>
</table>
</td>

<td>
<table>
	<tr>
		<td>
			<h:inputText value="#{DocenteBean.idDocente}"></h:inputText>
		</td>
	</tr>
	<tr>
		<td>
				<h:selectOneMenu value="#{DocenteBean.aula.idAula}" var="cboAula" class="ui-selectonemenu-label ui-inputfield ui-corner-all">
					<f:selectItem itemValue="-1" itemLabel="-Seleccionar Aula-" />
            		<f:selectItems value="#{DocenteBean.listaAula}" var="aulas" itemValue="#{aulas.idAula}" itemLabel="#{aulas.descAula}"  />
				</h:selectOneMenu>
		</td>
	</tr>
	<tr>
		<td>
				<h:selectOneMenu value="#{DocenteBean.distrito.idDistrito}" var="cboDistrito" class="ui-selectonemenu-label ui-inputfield ui-corner-all">
					<f:selectItem itemValue="-1" itemLabel="-Seleccionar Distrito-" />
            		<f:selectItems value="#{DocenteBean.listaDistrito}" var="distritos" itemValue="#{distritos.idDistrito}" itemLabel="#{distritos.descDistrito}"  />
				</h:selectOneMenu>
		</td>
	</tr>
</table>
</td>
<td>
<h:commandButton actionListener="#{DocenteBean.buscar}" action="BUSCAR" value="Buscar"></h:commandButton>
</td>
</tr>
<tr>
<td colspan="4">

	<p:dataTable  rows="5" var="Docentes" value="#{DocenteBean.listaDocente}" border="2" paginator="true" >
			<f:facet name="header">
				<h:outputText value="Lista de Docentes"/>
			</f:facet>
			
			<p:column>
				<f:facet name="header"><h:outputText value="ID"/></f:facet>
				<h:outputText value="#{Docentes.idDocente}"></h:outputText>
			</p:column>
			
			<p:column>
				<f:facet name="header"><h:outputText value="Docente"/></f:facet>
				<h:outputText value="#{Docentes.nombres}"></h:outputText>
			</p:column>			
				
			<p:column>
				<f:facet name="header"><h:outputText value="EDAD"/></f:facet>
				<h:outputText value="#{Docentes.edad}" ></h:outputText>
			</p:column>
			
			<p:column>
				<f:facet name="header"><h:outputText value="TALLA"/></f:facet>
				<h:outputText value="#{Docentes.talla}" ></h:outputText>
			</p:column>
			
			<p:column>
				<f:facet name="header"><h:outputText value="AULA"/></f:facet>
				<h:outputText value="#{Docentes.aula.descAula} [#{Docentes.aula.idAula}]" ></h:outputText>
			</p:column>
			
			<p:column>
				<f:facet name="header"><h:outputText value="DISTRITO"/></f:facet>
				<h:outputText value="#{Docentes.distrito.descDistrito} [#{Docentes.distrito.idDistrito}]" ></h:outputText>
			</p:column>
			
			
			<p:column>
				<f:facet name="header"><h:outputText value="FECHA"/></f:facet>
				<h:outputText value="#{Docentes.fechaRegistro}" ></h:outputText>
			</p:column>
		
			
			
			<p:column>
				<f:facet name="header"><h:outputText value="Acción"/></f:facet>
				
				<p:commandLink value="Eliminar" actionListener="#{DocenteBean.seleccionar_fila}" onclick="PF('confirmar').show();" >
					<f:attribute name="attr_idDocente" value="#{Docentes.idDocente}"></f:attribute>
				</p:commandLink>
			
				<p:confirmDialog 
					message="¿Esta seguro de eliminar?" 
					header="Cuadro de confirmacion" 
					severity="alert" 
					widgetVar="confirmar">					
						<p:commandButton
							value="SI"
							ajax="true"
							update="@form"
							actionListener="#{DocenteBean.eliminar}"  
							onclick="PF('confirmar').hide();" >
							</p:commandButton>
							
																
						<p:commandButton 
							value="NO" 
							onclick="PF('confirmar').hide();" 
							type="button" />
				</p:confirmDialog>
				
				
			</p:column>
			
			<f:facet name="footer">
				<h:outputText value="Existen #{DocenteBean.listaDocente_size} registros"/>
			</f:facet>
	</p:dataTable>
</td>
</tr>
</table>


</h:form>

<h:form>
<h:commandLink action="PRINCIPAL" value="Regresar al principal"></h:commandLink>
<br/>
<h:commandLink value="Insertar" action="INSERTAR"></h:commandLink>
</h:form>



</h:body>

</html>