<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
<title>
<h:outputText value="Nuevo Docente" rendered="#{!DocenteBean.sw_edit}"></h:outputText>
<h:outputText value="Editar Docente" rendered="#{DocenteBean.sw_edit}"></h:outputText>
</title>
</h:head>
<h:body>



<center>
<h:form>
<h1>
	<h:outputText value="Nuevo Docente" rendered="#{!DocenteBean.sw_edit}"></h:outputText>
	<h:outputText value="Editar Docente" rendered="#{DocenteBean.sw_edit}"></h:outputText>
</h1>

<table>
  <tr>
    <th>ID: </th>
    <td>
    	<h:inputText value="#{DocenteBean.idDocente}"></h:inputText>
    </td>
  </tr>
  <tr>
    <th>NOMBRE: </th>
    <td>
    	<h:inputText value="#{DocenteBean.nombres}"></h:inputText>
    </td>
  </tr>
  
  <tr>
    <th>EDAD: </th>
    <td>
    	<h:inputText value="#{DocenteBean.edad}"></h:inputText>
    </td>
  </tr>
  
  
  <tr>
    <th>TALLA: </th>
    <td>
    	<h:inputText value="#{DocenteBean.talla}"></h:inputText>
    </td>
  </tr>
  
  
    <tr>
    <th>AULA: </th>
    <td>
    	<h:selectOneMenu value="#{DocenteBean.aula.idAula}" var="cboAula" class="ui-selectonemenu-label ui-inputfield ui-corner-all">
				<f:selectItem itemValue="-1" itemLabel="-Seleccionar Aula-" />
            	<f:selectItems value="#{DocenteBean.listaAula}" var="aulas" itemValue="#{aulas.idAula}" itemLabel="#{aulas.descAula}"  />
		</h:selectOneMenu>
    </td>
  </tr>
  
  
    <tr>
    <th>DISTRITO: </th>
    <td>
    	<h:selectOneMenu value="#{DocenteBean.distrito.idDistrito}" var="cboDistrito" class="ui-selectonemenu-label ui-inputfield ui-corner-all">
				<f:selectItem itemValue="-1" itemLabel="-Seleccionar Distrito-" />
            	<f:selectItems value="#{DocenteBean.listaDistrito}" var="distritos" itemValue="#{distritos.idDistrito}" itemLabel="#{distritos.descDistrito}"  />
		</h:selectOneMenu>
    </td>
  </tr>
  
   
 
    <tr>
    <th>FECHA REGISTRO: </th>
    <td>
    	<p:calendar value="#{DocenteBean.fechaRegistro}" mode="popup"
						popupIconOnly="true" showOn="button" pattern="dd/MM/yyyy">
		</p:calendar>
    </td>
  </tr>
  
  	<tr align="center">
		<td colspan="2">
			<p:commandButton value="Agregar"
				actionListener="#{DocenteBean.insertar}" action="PRINCIPAL"
				rendered="#{!DocenteBean.sw_edit}" icon="ui-icon-disk" styleClass="ui-priority-primary"/>
				
			<p:commandButton value="Modificar"
				actionListener="#{DocenteBean.editar}" action="PRINCIPAL"
				rendered="#{DocenteBean.sw_edit}" icon="ui-icon-refresh"/>
		</td>
	</tr>
</table>
</h:form>
<h:form>
	<h:commandLink value="Regresar al Inicio" action="PRINCIPAL"></h:commandLink>
</h:form>

</center>

</h:body>
</html>